* text=auto eol=lf

/.git                    export-ignore
/.github                 export-ignore
/.gitignore              export-ignore
/.gitattributes          export-ignore
/README.md               export-ignore

/docker-compose.yaml      export-ignore

/tests                   export-ignore
/phpunit.xml.dist        export-ignore
/phpstan.neon            export-ignore
/.php-cs-fixer.php       export-ignore
/.php-cs-fixer.cache     export-ignore
/.phpunit.result.cache   export-ignore

/.idea                   export-ignore
/.vscode                 export-ignore
/.DS_Store               export-ignore

/vendor                  export-ignore
/var                     export-ignore
